<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>wechatid</key>
    <string>wx8772f9a6e32902a1</string>
    <key>wesecertid</key>
    <string>0041402d49cce0bf18da652253e60611</string>
    <key>zchannelid</key>
    <string>ca429</string>
    <key>zgameid</key>
    <string>gi008034</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>weixin</string>
        <string>weixinULAPI</string>
    </array>
	<key>CADisableMinimumFrameDuration</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RedPacket-Unity</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.zplay.${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx8772f9a6e32902a1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2020071401</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreen-iPad</string>
	<key>UILaunchStoryboardName~iphone</key>
	<string>LaunchScreen-iPhone</string>
	<key>UILaunchStoryboardName~ipod</key>
	<string>LaunchScreen-iPhone</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UnityCloudProjectID</key>
	<string></string>
	<key>UnityCrashSubmissionURL</key>
	<string>https://a:b@perf-events.cloud.unity3d.com/symbolicate</string>
	<key>Unity_LoadingActivityIndicatorStyle</key>
	<integer>-1</integer>
</dict>
</plist>
